body{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 1170px;
	margin: 0 auto;
}
.header-section{

}
.header{
padding-top: 10px;
padding-bottom: 10px;
}
.wrapper{

}
.logo{
 	width: 20%;
 	float: left;
}
.logo img{

}
.menu{
 	width: 40%;
 	float: left;
 	padding-top: 10px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
}
.social-icon{
 	width: 40%;
 	float: left;
 	padding-top: 10px;

}
.social-icon ul{
    margin: 0;
    padding: 0;
}
.social-icon ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.social-icon ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
}


.social-icon .sing-in a{
	font-size: 16px;

}
.slider-section{
/* padding-bottom: 20px;*/
}
.slider{
    position: relative;
 background-image: url(../images/man.jpg);
 width: 100%;
 height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 min-height: 100vh;
 overflow: hidden;
 background-attachment: fixed;
}

.content{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
    background: rgba(239, 233, 233, 0.23);
    box-sizing: border-box;
    padding: 30px 50px;
    text-align: center;

}
.content h1{
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-transform: uppercase;
}
.content p{

}
.content a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
        font-weight: bold;
}
.content .button-1{
    background: #57bb1c;
    border-radius: 5px;
    color: white;
}
.content .button-2{
    background: #0f6a88;
    border-radius: 5px;
    color: white;
}
.service-section{
overflow: hidden;
}
.service{
    padding-top: 30px;
}
.concept-service{
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.concept-service i{
font-size: 20px;
    color: white;

}
.concept-service .fa-check{
        background: #095169;
    border-radius: 100%;
    padding: 20px;
}
.concept-service h1{

}
.concept-service p{
    margin: 0;
    padding-bottom: 20px;
}
.concept-service a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
}
.concept-service .button-3{
 background: #319647;

}
.local-loan-service{
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.local-loan-service i{
font-size: 20px;
    color: white;
}
.local-loan-service .fa-map-marker{
        background: #059b9a;
    border-radius: 100%;
    padding: 20px;
}
.local-loan-service h1{

}
.local-loan-service p{
    margin: 0;
    padding-bottom: 20px;
}
.local-loan-service a{
      text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;  
}
.local-loan-service .button-3{
 background: #319647;
}
.financing-service{
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.financing-service i{
font-size: 20px;
    color: white;
}
.financing-service .fa-money{
        background: #53ba83;
    border-radius: 100%;
    padding: 20px;
}
.financing-service h1{

}
.financing-service p{
    margin: 0;
    padding-bottom: 20px;
}
.financing-service a{
      text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;  
}
.financing-service .button-3{
 background: #319647;
}
.sing-up-service{
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.sing-up-service i{
font-size: 20px;
    color: white;
}
.sing-up-service .fa-user-plus{
        background: #9fd86b;
    border-radius: 100%;
    padding: 20px;
}
.sing-up-service h1{
text-transform: capitalize;
}
.sing-up-service p{
    margin: 0;
    padding-bottom: 20px;
}
.sing-up-service a{
      text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;  
}
.sing-up-service .button-3{
background: #319647
}
.offer{

}
.invest-money{
    background: green;

}
.invest-content{
float: left;
box-sizing: border-box;
}
.invest-menu{

}
.invest-menu ul{

}
.invest-menu ul li{

}
.invest-menu .button-4{

}
.offer-text{

}
.get-loan{
background: red;
}
.loan-content{
 float: left;
 box-sizing: border-box;
}
.loan-content h1{

}
.loan-menu{

}
.loan-menu ul{

}
.loan-menu ul li{

}
.loan-menu .button-5{
	
}
.blog.section{
    overflow: hidden;
}
.blog{

}
.blog h1{

}
.date{

}
.date p{

}
.blog-left{

}
.blog-left h1{

}
.blog-left p{

}
.date{

}
.date p{

}
.goal-section{

}
.goal{

}
.goal-content{

}
.content-1{

}
.content-1 p{

}
.content-2{

}
.content-2 p{

}
.content-3{

}
.content-2 p{

}
.rating{

}
.rating-content{

}
.rating-content ul{

}
.rating-content ul li{

}
.rating-content ul li a{

}
.mention{

}
.mention h1{

}
.mention-img{

}
.mention-img-1{

}
.mention-img-1 ul{

}
.mention-img-1 ul li{

}
.mention-img-1 ul li a{

}
.mention-img-2{

}
.mention-img-2 ul{

}
.mention-img-2 ul li{

}
.mention-img-2 ul li a{

}
.coll{

}
.coll-content{

}
.coll-content h1{

}
.coll-img{

}
.coll-img ul{

}
.coll-img ul li{

}
.coll-img ul li a{

}
.footer{

}
.footer-left{

}
.footer-left h1{

}
.footer-right{

}
.footer-right h1{

}